@font-face {
    font-family: "dohyeon";
    src: url("../assets/fonts/DoHyeon-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "rubik";
    src: url("../assets/fonts/Rubik-Light.ttf") format("truetype");
}